{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src",
                    "config": "./config"
                }
            }
        ]
    ]
}
